/* layout */
.button, .button__content {
    position: relative;
    z-index: 1000;
    display:block;
    padding: 1em;
    border: 5px solid var(--headerColor);
    width:-moz-fit-content;
    width: fit-content;
    border-radius: 5%;
}

.button__content > span:nth-child(1) {
    content: '';
    position: absolute;
    inset: 0;
    width: 0;
    height: 100%;
    background-color: var(--headerColor);
}

.button__content > span:nth-child(2) {
    content: '';
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 100%;
    color: whitesmoke;
}

.button__content:hover span:nth-child(1) {
    width: 100%;
}

.button__content:hover span{
    color: var(--fontColor);
}

/* end layout */
/*****************************************************************/
/* fonts - colors - background*/
.button__content  {
    background: transparent;
    font-family: monospace, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.button__content  span:nth-child(1) {
    transition: width 300ms ease;
}

@media screen and (min-width:940px) {

    /* layouts */
    .button {
        position: relative;
        z-index: 1000;
        display:block;
        background: transparent;
        padding: 1em;
        width:-moz-fit-content;
        width: fit-content;
        font-family: monospace, 'Times New Roman', Times, serif;
        cursor: pointer;
    }
    /* end layout */
    /*************************************************************/
    /* font - color - background */
    .button {
        background: transparent;
        font-family: monospace, 'Times New Roman', Times, serif;
        cursor: pointer;
    }

    .button > span:nth-child(2) {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    /* end font - color - background */
}

