.footerContainer > * {
    position: relative;
    z-index: 1000;
}
.footerContainer h2 {
    color: var(--headerColor);
}
/* layout */
.cardContainer {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    width: 100%;
    gap: 1em;
    padding: 1em 1em;
    padding-top: 4vh;

}
.cards:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}
/* End layout */

/* Cards */

.cards {

    list-style-type: none;

}

.link {
    display: inline-block;
}

.cards:nth-child(1) {
    display: flex;
}
.cards h2 {
    color: var(--headerColor);
    margin-bottom: 2rem;
}
.cards p, .link  {
    max-width: 20rem;
    color: whitesmoke;
    display: inline-block;
    margin-left:1em;
    margin-bottom: 1em;
}

.card > button {
    margin-top: 2em;
    margin-left:1em;
}

.imageContainer {
    max-width: 12em !important;
}

.footerContentContainer {
margin-left: 1em;
}

/* Cards */

@media only screen and (max-width:512px) {
    .cardContainer {
        display: flex;
        flex-direction: row;
    }
    .footerContentContainer {
        margin: 0;
        margin-top: 1em;
        padding: 0;
    }
    .cards{
        margin-top:minmax(100px, 2em)
    }
    .cards:nth-child(1) {
        display: flex;
        flex-direction: row;
    }
}