.footerContainer {
}
.footerContainer h2 {
    color: var(--headerColor);
}
/* layout */
.cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    padding: 2em;
    padding-top: 4vh;
}
/* End layout */

/* Cards */

.cards { list-style-type: none;}

.link { display: inline-block; }

.cards:nth-child(1) { display: flex; grid-column-start: 1; grid-column-end: 3;}
.cards h2 {
    color: var(--headerColor);
    margin-bottom: 2rem;
}
.cards p, .link  {
    max-width: 20rem;
    color: whitesmoke;
    display: inline-block;
    margin-left:1em;
    margin-bottom: 1em;
}

.card > button {
    margin-top: 2em;
    margin-left:1em;
}

.imageContainer {
    max-width: 12em !important;
}

.footerContentContainer {
margin-left: 1em;
}

/* Cards */

@media only screen and (max-width:580px) {
  .cardContainer {
    grid-template-columns:auto;
    grid-template-rows: auto;
    }
  .cards:nth-child(1) {
    flex-direction: column;
    grid-column-start: initial;
    grid-column-end:initial;
    }

    .cards:nth-child(1) > * {
        width: 100%;
        display: inline-block;
    }
}