/* global styles */
/* end global styles */
/***********************************************************/
/* layout styles */
.form{ width:100%; }
.field{
    position: relative;
    width: 100%;
    height: auto;
    border: none;
    margin-bottom: 4vh;
}

.placeholder{
    position: absolute;
    z-index: 10;
    left: 0.5rem;
    top:0.5rem;
    transition: all 500ms ease-in;
    pointer-events: none;
}

.inputField{
    position: inherit;
    z-index: 1;
    width: calc(100% - 0.5rem);
    padding: 0.5rem 0;
    padding-left: 0.5rem;
}

.fieldContainer { height: 15rem; }

.message{ height: 3rem; resize:none; }

.inputField:focus {
    outline: none;
    border: 2px solid var(--foreGround);
    border-radius: 2%;
}

.message:focus, .field textarea[class*="active"] { height: 200px; }
/* layout */
.button {
    position: relative;
    z-index: 1000;
    display:block;
    padding: 1rem 2rem;
    border: 5px solid var(--foreGround);
    width: fit-content;
    border-radius: 5%;
}

.button {
    border: 5px solid var(--foreGround);
}

.button > span:nth-child(1) {
    content: '';
    position: absolute;
    inset: 0;
    width: 0;
    height: 100%;
    background-color: var(--fontColor);
}

.button > span:nth-child(2) {
    content: '';
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 100%;
    color: whitesmoke;
}

.button:hover span:nth-child(1) {
    width: 100%;
}

/* end layout */
/*****************************************************************/
/* fonts - colors - background*/
.button  {
    background: transparent;
    font-family: monospace, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.button  span:nth-child(1) {
    transition: width 300ms ease;
}

.button  > span:nth-child(1) {
    content: '';
    background-color: var(--fontColor);
}

.button__content  > span:nth-child(2) {
    content: '';
    color: whitesmoke;
}
.error {
    margin-left: .8em;
}
/* end layout styles */
/**********************************************************/
/* font styles */
.inputField, .placeholder { font-size: 1rem; text-transform: uppercase; }
.inputField:focus ~ .placeholder, 
.active ~ .placeholder{
    color: white;
}

.form h1{
    color: var(--headerColor);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4rem;
}


.error {
    font-style: normal;
    color:rgb(177, 6, 6);
    text-transform:none;
}

/* end font styles */
/***********************************************************/
/* transitions */
.inputField:focus ~ .placeholder, 
.active ~ .placeholder{
    transform: translateY(-2rem) scale(1.2);
}
.message{transition: all 1s ease;}
/* end transitions */
