.form{ width:100%; }
.field{
    position: relative;
    width: 100%;
    height: auto;
    border: none;
    margin-bottom: 4vh;
}
.placeholder{
    position: absolute;
    z-index: 101;
    left: 0.5rem;
    top:0.5rem;
    transition: all 500ms ease-in;
}

.inputField, .placeholder { font-size: 1rem; }

.inputField{
    position: inherit;
    z-index: 100;
    width: calc(100% - 0.5rem);
    padding: 0.5rem 0;
    padding-left: 0.5rem;
}

.inputField:focus ~ .placeholder, 
.active ~ .placeholder{
    transform: translateY(-2rem) scale(1.2);
    color: white;
}

.fieldContainer { height: 15rem; }
.message{ height: 3rem; transition: all 1s ease; resize:none; }
.message:focus, .active { height: 200px; }
