:root {
  --backGround:#233342;
  --foreGround: #4B2B31;
  --fontColor:#CE8054;
  --headerColor: #B35340;
  --accentColor:#6f3637;
}

@font-face {
  font-family:"roboto" ;
  src: url("../assets/Roboto/Roboto-Light.ttf");
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  position: relative;
  z-index: 10;
  background-color: var(--backGround);

}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.5;
  background: url('../public/img/SVG/bg.svg');
}


