:root {
  --backGround:#041C32;
  --foreGround: #04293A;
  --fontColor:#064663;
  --headerColor: #ECB365;
  --borderColor:#ECB365;
}

@font-face {
  font-family:"roboto" ;
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: initial;
  height: initial;
  padding: 0;
  margin: 0;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--backGround);
  position: relative
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.5;
  background: url('../public/img/SVG/bg.svg');
}
