.modalContainerOpen {
    transition: all 1s ease;
    position: fixed;
    inset: 0 !important;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.modalContainerClose {
    transition: all 1s ease;
    position: initial;
    display:hidden;
    inset: 0;
    background-color: none;
    width: 0;
    height: 0;
}

.modalInnerContainer {
    transition: all 1s ease;
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) !important;
    width: 60%;
    height: 60%;

}

.modalImage {
    width: 100%;
    height:100%;
}
