.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.modal__content {
    position: absolute;
    inset: 0;
    top: 30%;
    left: 50%;
    transform:translate(-50%, -30%) !important;
    width: 60%;
    height: 60%;
}

.modalImage {
    width: 100%;
    height:100%;
}

@media only screen and (max-width:560px){
    .modal__content {
        width: 60%;
        height: 30%;
    }
}
