/* global styles */

/* end global styles */

/* variables */

/* font style */
/* inner font style */
.linkWrapper a{
    color: white;
    font-size: 0.5em ;
    text-decoration: none;
}
/* inner font style */
.linkContainer {
    background-color: var(--accentColor);
    cursor: pointer;
}
.linkContainer a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
}

.innerNav {
    background-color: var(--accentColor);
}

.linkWrapper a{
    color: white;
    font-size: 0.5em ;
    text-decoration: none;
}

.linkContainer {
    background-color: var(--accentColor);
    cursor: pointer;
}

.linkContainer:nth-child(1) { border-top: 0.2rem solid var(--backGround); }

.linkContainer a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    }

.iconContainer > svg{
    font-size: 2.5rem;
}

.title{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/* END font style */
/*******************************************************/
/*********************LAYOUTS**************************/
/*******************************************************/
/* layouts */
/* nav layouts */
#nav {
    flex:0 0 max(110px);
}

/* inner container layout */
.innerNav {
    position: fixed;
    z-index: 100;
    display: flex !important;
    flex-direction:column;
    justify-content: space-between;
    background-color: var(--accentColor);
    height: 100vh;
    max-width: 150px;
}

.navTop {
    flex:1 1 auto;
    padding: 0.5rem;
    display: flex;
    align-self: center;
}

.navTop span{
    text-align: center;
}

/* navigation Top layout */
.navMiddle {
    flex:1 1 60%;
}

.navBottom {
    flex: 1 1 30%;
    text-align: center;
}
.linkContainer {
    position: relative;
    height: calc(100% / 6);
    cursor: pointer;
    border-bottom: 0.2rem solid var(--backGround);
}

.linkContainer:nth-child(1) {
    border-top: 0.2rem solid var(--backGround);
}

.linkContainer a{
    display: grid;
    align-items:Center;
    justify-content: center;
    width: 100%;
    height: 100%;
    }

.linkContainer:hover a{
    position: relative;
    z-index: 100;
}

.linkContainer:hover .iconContainer {
    opacity: 0;
}

.iconContainer {
    transition: opacity 100ms ease-in;
    position: absolute;
    inset: 0;
    background-color:var(--accentColor);
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
.active { display: none; }
.navLinkContainer {
    display: none;
}
.active .navLinkContainer {
    display: initial;
}

.active .linkContainer svg { opacity: 0; }

/* end layouts */

@media only screen and (max-width: 560px) {
    #nav{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 0;
        width: 100%;
        height: 4%;
    }
    .navContainer{
        flex: none;
        width: initial;
    }
    .innerNav{
        display: none !important;
        width: 0;
    }
    
    .mobileNav{
        display: initial;
        position: relative;
        z-index: 1000;
    }
    /* End min-width:920px */
    .linkWrapper a{
        color: white;
        font-size: 1em;
        text-decoration: none;
    }
    .innerNav {
        display: none;
    }

    .mobileNav {
        display: flex;
        position: fixed;
        right: 1rem;
        top: 0.8rem;
        z-index: 1000;
    }

    .mobileNav svg {
        cursor: pointer;
        transition: transform 100ms ease;
        color:whitesmoke;
        font-size:4rem;
    }

    .mobileNav svg:hover {
        color:var(--accentColor);
        transform: scale(1.2);
    }

    /* floating menu */
    .navLinkContainer, .toggleClose {
        transition: opacity 500ms ease;
        position: relative;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0.5rem;
        margin-right: 0.5rem;
        border-radius: 2%;
        flex: 1;
    }
    /* background opacity  */
    .navLinkContainer::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.8;
    border-radius: 2%;
    }

    .toggleClose, .toggleClose > *{ visibility: hidden; z-index: -10;}
    
    .linkWrapper {
        position: relative;
        z-index: 100;
        margin: 0 0.2rem;
        padding: 0.1rem;
    }

    .linkWrapper a:hover{ color: var(--accentColor); }


    .linkWrapper a{
        color: white;
        font-size: 0.8em;
        text-decoration: none;
    }
}

@media only screen and (max-width: 960px) {
    #nav {
        max-height: 4%;
    }
    
    .navContainer {
        position: initial;
    }
    /* end nav container */
    /*###############################################################*/
    /* inner container */
    .innerNav {
        width: 110px;
        max-width: 110px;
    }
 }

@media only screen and (min-width:960px){
    .innerNav{
        display: block;
    }
    .mobileNav{
        display: none;
        z-index: 1000;
    }
    .linkWrapper a{
        color: white;
        font-size: 0.5em ;
        text-decoration: none;
    }
    /* nav Container  */
    .navContainer {
        width: 100%;
        flex: 0 0 max(110px) !important;
    }
    .innerNav {
        position: fixed;
        z-index: 100;
        overflow-x: hidden;
        display: flex !important;
        flex-direction:column;
        justify-content: space-between;
        width: 110px;
        max-width: 110px;
        height: 100vh;
        background-color: var(--accentColor);
    }
    
    /* navigation Top */
    .navTop {
        flex:1 1 20%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
    }
    
    .navTop span{
        text-align: center;
    }
    
    /* navigation Top */
    .navMiddle {
        flex:1 1 60%;
    }
    
    .navBottom {
        flex: 1 1 30%;
        text-align: center;
    }
    
    /* animation for slides nav */
    .linkContainer {
        position: relative;
        background-color: var(--accentColor);
        cursor: pointer;
        border-bottom: 0.2rem solid var(--backGround);
    }
    
    .linkContainer:nth-child(1) {
        border-top: 0.2rem solid var(--backGround);
    }
    
    .linkContainer a{
    display: grid;
    align-items:Center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    }
    
    .linkContainer:hover a{
        position: relative;
        z-index: 100;
    }
    .linkContainer:hover .iconContainer {
        opacity: 0;
    }
    
    .iconContainer {
        transition: opacity 100ms ease-in;
        position: absolute;
        inset: 0;
        background-color:var(--accentColor);
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
    
    
    .iconContainer > svg{
        font-size: 2.5rem;
    }
    
    .title{
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .active {
        display: none;
        background-color: red;
    }
    
    .active .linkContainer svg {
        opacity: 0;
    }
    
    .mobileNav {
        display: none !important;
    }
    
    
}

@media only screen and (min-width:1440px) {
}

@media only screen and (min-width:2000px) {
    .navContainer {
        position: initial;
        width: 100%;
        flex: 0 0 max(200px);
    }
    .innerNav {
        position: fixed;
        z-index: 100;
        overflow-x: hidden;
        display: flex !important;
        flex-direction:column;
        justify-content: space-between;
        max-width: 200px;
        height: 100vh;
        background-color: var(--accentColor);
    }
}

