/* Important to subrtract the nav width 
with the flex container basis to ensure the 
correct width of the nav and the main container
 */
 .style.flex {
    display: flex;
 }
 @media only screen and (min-width: 960px) {
    .containerTransition {
        flex-basis: max(100% - 110px);
        margin-left: 0;
    }

}

@media only screen and (max-width: 560px) {
    .blockContainer {
        width: initial;
        margin: 0 !important;
        overflow: hidden !important;
    }

    .containerTransition {
       flex:  none;
       margin-left:0 !important;
    }
}
/* layout */
.containerTransition {
    flex-basis: max(100%);
}
.containerTransition::after {
    content:"";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: .4;
    z-index: -1;
}
.blockContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
}

.animateContainer {
    /*position: fixed;*/
    inset: 0;
}

.mainContainer {
    width: 100%;
}

/* end layout */




